.load-btn {
    display: block;
    margin: auto;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.h1 {
    display: flex;
    justify-content: center;
}

div#posts-container {
 display: flex;
 flex-wrap: wrap;
 gap: 1em;
 margin: auto;
 margin-top: 2em;
 width: 1000px;
 max-width: 100%;
  height: auto
}
img {

   width: 200px;
   height:150px
   
}

